body, html {
  height: 100%;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: url("background.jpg");
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000000;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#jobCryptText{
  color: rgb(255, 255, 255);
  position: relative;
  top: -0px;
  background-color: #949494;
  outline: 2px solid #ffffff;
  width: 250px;
  cursor:text;
  border-radius: 2px;

}


#RC5{
  color: #ffffff;
  font-size: 40px;
  font-weight: 1000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 40px;
}
#authors{
  color: #ffffff;
  position: relative;
  right: -110px;
  margin-top: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#madeBy{
  color: #ffffff;
  font-style: italic;
  font-weight: 500;
  position: relative;
  right: -215px;
  top: -31.5px;
  margin-top: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#inputTextBlock{
  margin-left: -130px;
}

#encryptedTextContainer{
  margin-left: 400px;
  margin-top: -242px;
}

#inputText {
  margin-top: 80px;
  margin-bottom: 10px;
  margin-left: -32px;
  max-height: 150px;
  min-height: 150px;
  max-width: 280px;
  min-width: 280px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 280px;
  height: 150px;
}

#encryptedText{
  margin-top: -10px;
  margin-bottom: 50px;
  margin-right: -100px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 280px;
  height: 150px;
  max-height: 150px;
  min-height: 150px;
  max-width: 280px;
  min-width: 280px;
}

#decryptedText{
  margin-top: 250px;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.keyButtonT{
  position: relative;
  top: -113px;
  right: -114px;
  background-image: url("key.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 31px;
  background-color: #c5c5f7;
  color: #ffffff;
  outline: 2px solid #c5c5f7;
  outline-offset: -2px;
  border-radius: 4px;
  cursor: pointer;
  width: 35px;
  height: 33px;
}

.keyButtonT:hover{
  background-color: #9f9ff0;
  background-image: url("key.svg");
  outline: 2px solid #9f9ff0;
  outline-offset: -2px;
  border-radius: 4px;
}

.keyButtonF{
  position: relative;
  top: -113px;
  right: -114px;
  background-image: url("keyOpen.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 31px;
  color: #ffffff;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #000000;
  width: 35px;
  height: 33px;
}

.keyButtonF:hover{
  background-color: #ffffff;
  background-image: url("key.svg");
  outline: 2px solid #ffffff;
  outline-offset: -2px;
}

#encryptButton {
  padding: 10px 5px;
  border: none;
  border-radius: 4px;
  background-color: #c5c5f7;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  left: -280px;
  bottom: -25px;
  font-weight: 500;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#encryptButton:hover {
  background-color: #9f9ff0;
  color: #000000;
  
}

#encryptedText{
  margin-top: 50px;
  width: 200px;
  cursor: not-allowed;
}

#decryptButton {
  padding: 10px 5px;
  border: none;
  border-radius: 4px;
  background-color: #c5c5f7;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  right: 250px;
  bottom: -25px;
  font-weight: 500;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#decryptButton:hover {
  background-color: #9f9ff0;
  color: #000000;
}


#decryptedText{
  margin-top: 20px;
  width: 200px;
  cursor: not-allowed;
  resize: both; /* Позволяет изменять размер как по вертикали, так и по горизонтали */
  overflow: auto; /* Убеждаемся, что полосы прокрутки появляются при необходимости */
}

#toggleKeyButton{
  padding: 10px 5px;
  border: none;
  border-radius: 4px;
  background-color: #c5c5f7;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  left: -180px;
  top: -15px;
  font-weight: 500;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#toggleKeyButton:hover {
  background-color: #9f9ff0;
  color: #000000;
}

#encryptKeyButton{
  padding: 10px 5px;
  border: none;
  border-radius: 4px;
  background-color: #c5c5f7;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  left: -140px;
  top: -15px;
  font-weight: 500;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#encryptKeyButton:hover{
  background-color: #9f9ff0;
  color: #000000;
}

#decryptKeyButton{
  background-image: url('copy.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  background-size: 25px;
  position: relative;
  top: 2px;
  right: -4px;
  width: 35px;
  height: 33px;
  padding: 10px 5px;
  border: none;
  color: #ffffff;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
  border-radius: 4px;
  cursor: pointer;
}

#decryptKeyButton:hover{
  background-color: #000000;
  background-image: url('uncopy.svg');
  outline: 2px solid #ffffff;
  outline-offset: -2px;
}


#keyText{
  resize: both; /* Позволяет изменять размер как по вертикали, так и по горизонтали */
  overflow: auto; /* Убеждаемся, что полосы прокрутки появляются при необходимости */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 450px;
  min-width: 450px;
  max-width: 450px;
  height: 30px;
  max-height: 30px;
  min-height: 30px;
  position: relative;
  top: -0px;
  right: -130px;
  cursor: not-allowed;
}

#changeKey{
  resize: both; /* Позволяет изменять размер как по вертикали, так и по горизонтали */
  overflow: auto; /* Убеждаемся, что полосы прокрутки появляются при необходимости */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 451px;
  min-width: 451px;
  max-width: 451px;
  height: 30px;
  max-height: 30px;
  min-height: 30px;
  position: relative;
  top: 40px;
  left: -373px;
}

#copyKeyButton{
  background-image: url('copy.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #c5c5f7;
  background-size: 30px;
  position: relative;
  right: -140px; 
  top: -10px;
  width: 35px;
  height: 47px;
  padding: 10px 5px;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

#copyKeyButton:hover{
  background-color: #9f9ff0;
  background-image: url('copy.svg');
}

#changeButton{
  position: relative;
  top: 57px;
  right: 364px;
  background-image: url("keyUpdate.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 31px;
  background-color: #c5c5f7;
  color: #ffffff;
  outline: 2px solid #c5c5f7;
  outline-offset: -2px;
  border-radius: 4px;
  cursor: pointer;
  width: 35px;
  height: 48px;
}

#changeButton:hover{
  background-color: #9f9ff0;
  background-image: url("keyUpdate.svg");
  outline: 2px solid #9f9ff0;
  outline-offset: -2px;
}

.input-error {
  animation: shake 0.5s ease-in-out;
}

#keyContainer{
  margin-left: 200px;
  margin-top: 50px;
}
@keyframes shake {
  0%, 100% {
      transform: translateX(0);
  }
  20% {
      transform: translateX(-4px);
  }
  40% {
      transform: translateX(4px);
  }
  60%{
      transform: translateX(-4px);
  }
  80%{
      transform: translateX(4px);
  }
}


.shake-animation1 {
  animation: shake 0.5s linear;
}


/* Анимация появления блока */
@keyframes slideIn {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}

/* Анимация скрытия блока */
@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

.slide-in {
  animation: slideIn 0.5s forwards; /* Продолжительность появления */
}

.slide-out {
  animation: slideOut 0.5s forwards; /* Продолжительность исчезновения */
}