body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("background.jpg");
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000000;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#jobCryptText{
  color: rgb(255, 255, 255);
  position: relative;
  top: -0px;
  background-color: #000000;
  outline: 2px solid #ffffff;
  width: 250px;
  cursor:text;
  border-radius: 2px;

}

#title{
  margin-top: 20px;
  font-size: larger;
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000000;
  border-radius: 8px;
}
#RC5{
  color: #ffffff;
  font-size: 40px;
  font-weight: 1000;

}
#authors{
  color: #ffffff;
  font-style: italic;
  position: relative;
  right: -110px;

}


#inputText {
  margin-top: 80px;
  margin-bottom: 10px;
  margin-left: -32px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

#encryptedText{
  margin-top: 200px;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

#decryptedText{
  margin-top: 250px;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.keyButtonT{
  position: relative;
  top: -113px;
  right: -114px;
  background-image: url("key.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 31px;
  background-color: #ffffff;
  color: #ffffff;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
  border-radius: 4px;
  cursor: pointer;
  width: 35px;
  height: 33px;
}

.keyButtonT:hover{
  background-color: #000000;
  background-image: url("keyOpen.svg");
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.keyButtonF{
  position: relative;
  top: -113px;
  right: -114px;
  background-image: url("keyOpen.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 31px;
  color: #ffffff;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #000000;
  width: 35px;
  height: 33px;
}

.keyButtonF:hover{
  background-color: #ffffff;
  background-image: url("key.svg");
  outline: 2px solid #ffffff;
  outline-offset: -2px;
}

#encryptButton {
  padding: 10px 5px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  left: -75px;
  bottom: 0px;
}

#encryptButton:hover {
  background-color: #000000;
  color: #ffffff;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
}

#encryptedText{
  margin-top: 50px;
  width: 200px;
  cursor: not-allowed;
}

#decryptButton {
  padding: 10px 5px;
  border-width: 2px;
  border-radius: 4px;
  border: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  left: 42px;
  bottom: 36px;
}

#decryptButton:hover {
  background-color: #000000;
  color: #ffffff;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
}

#decryptButton:disabled{
  background-color: #cccccc; /* более светлый серый фон для заблокированной кнопки */
  color: #777777;            /* светло-серый текст для заблокированной кнопки */
  outline-color: #cccccc;
  cursor: not-allowed;
}

#decryptedText{
  margin-top: 20px;
  width: 200px;
  cursor: not-allowed;
}

#encryptKeyButton{
  background-image: url('copy.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  background-size: 25px;
  position: relative;
  top: 2px;
  right: -4px;
  width: 35px;
  height: 33px;
  padding: 10px 5px;
  border: none;
  color: #ffffff;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
  border-radius: 4px;
  cursor: pointer;
}

#encryptKeyButton:hover{
  background-color: #000000;
  background-image: url('uncopy.svg');
  outline: 2px solid #ffffff;
  outline-offset: -2px;
}

#decryptKeyButton{
  background-image: url('copy.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  background-size: 25px;
  position: relative;
  top: 2px;
  right: -4px;
  width: 35px;
  height: 33px;
  padding: 10px 5px;
  border: none;
  color: #ffffff;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
  border-radius: 4px;
  cursor: pointer;
}

#decryptKeyButton:hover{
  background-color: #000000;
  background-image: url('uncopy.svg');
  outline: 2px solid #ffffff;
  outline-offset: -2px;
}

#encryptKeyButton{
  padding: 9px 5px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
}


#copyKeyButton{
  background-image: url('copy.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  background-size: 25px;
  position: relative;
  top: 2px;
  right: 100px;
  width: 35px;
  height: 33px;
  padding: 10px 5px;
  border: none;
  color: #ffffff;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
  border-radius: 4px;
  cursor: pointer;
}

#copyKeyButton:hover{
  background-color: #000000;
  background-image: url('uncopy.svg');
  outline: 2px solid #ffffff;
  outline-offset: -2px;
}

#keyText{
  margin-bottom: 10px;
  margin-left: 240px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

#copyKeyButton{
  position: relative;
  left: 5px; 
  margin-top: 20px;
}

#changeKey{
  position: relative;
  bottom: -60px;
  left: -245px;
  margin-left: -10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

#changeButton{
  position: relative;
  top: 70px;
  right: 240px;
  background-image: url("key.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 31px;
  background-color: #ffffff;
  color: #ffffff;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
  border-radius: 4px;
  cursor: pointer;
  width: 35px;
  height: 33px;
}

#changeButton:hover{
  background-color: #000000;
  background-image: url("keyOpen.svg");
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.input-error {
  animation: shake 0.5s ease-in-out;
}
@keyframes shake {
  0%, 100% {
      transform: translateX(0);
  }
  20% {
      transform: translateX(-4px);
  }
  40% {
      transform: translateX(4px);
  }
  60%{
      transform: translateX(-4px);
  }
  80%{
      transform: translateX(4px);
  }
}


.shake-animation1 {
  animation: shake 0.5s linear;
}
